{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="#">{{ object.author }}</a>
				<small class="text-muted">{{ object.date_posted|date:"F d, Y"}}</small>
				{% if object.author == user %}
					<div>
						<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'paste-update' object.id %}">Update</a>
						<a class="btn btn-danger btn-sm mt-1 mb-a" href="{% url 'paste-delete' object.id %}">Delete</a>
				{% endif %}
			</div>
			<h2 class="article-title">{{ object.title }}</h2>
			<span class="d-block p-2 bg-dark text-white" style="width:500px;">RENDERED</span>
			<div style="overflow:auto;
					    width: 500px;
					    height: 200px;
					    border: 2px solid;
					    border-color: #cccccc;
					    padding-left: 5px;">
				{{ object.content }}
			</div><br><br>
			<span class="d-block p-2 bg-dark text-white" style="width:500px; height:45px;">
				RAW<button type="button" class="btn btn-secondary btn-sm" style="position: absolute; left:430px;">download</button></span>
			<div class="article-content">
				<pre>{{ object.content }}</pre>
			</div>
			{% if paste.expiry is not null%}
				<small class="text-muted">Expires on: {{ paste.expiry|date:"F d, Y" }}</small>
			{% endif %}<br>
			{% if paste.invited_users.all %}
				<small class="text-muted">Invited Users:</small>
				{% for username in paste.invited_users.all %}
					<small class="text-muted">{{ username }}</small>
				{% endfor %}
			{% endif %}
		</div>
	</article>
{% endblock content %}
