{% extends "home/base.html" %}
{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Welcome!</h1>
				<p>This is a website that allows you to create pastes and share them with others!</p>
				<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
		</div>
	</div>
	<h1 class="mb-3"> Pastes By {{ view.kwargs.username }}</h1>
	{% for paste in pastes %}
		{% if paste.expired == False %}
			{% if paste.status == "Enabled" %}
				{% if paste.privacy == "Public" or paste.author == user %}
					<article class="media content-section">
						<div class="media-body">
							<div class="article-metadata">
								<a class="mr-2 text-muted">{{ paste.privacy }}</a>
								<a class="mr-2" href="{% url 'user-pastes' paste.author.username %}">{{ paste.author }}</a><br>
								<small class="text-muted">{{ paste.date_posted|date:"F d, Y" }}</small>
							</div>
							<h2><a class="article-title" href="{% url 'paste-detail' paste.id %}">{{ paste.title }}</a></h2>
							<p class="article-content">{{ paste.content }}</p>
							{% if paste.expiry %}
								<small class="text-muted">Expires on: {{ paste.expiry|date:"F d, Y" }}</small>
							{% endif %}<br>
							{% if paste.invited_users.all %}
								<small class="text-muted">Invited Users:</small>
								{% for username in paste.invited_users.all %}
									<small class="text-muted">{{ username }}</small>
								{% endfor %}
							{% endif %}
						</div>
					</article>
					<br>
				{% endif %}
				{% for username in paste.invited_users.all %}
					{% if username == user %}
						<article class="media content-section">
							<div class="media-body">
								<div class="article-metadata">
									<small class="mr-2 text-muted">You've been invited to view this paste:</small><br>
									<a class="mr-2 text-muted">{{ paste.privacy }}</a>
									<a class="mr-2" href="#">{{ paste.author }}</a><br>
									<small class="text-muted">{{ paste.date_posted|date:"F d, Y" }}</small>
								</div>
								<h2><a class="article-title" href="{% url 'paste-detail' paste.id %}">{{ paste.title }}</a></h2>
								<p class="article-content">{{ paste.content }}</p>
								{% if paste.expiry %}
									<small class="text-muted">Expires on: {{ paste.expiry|date:"F d, Y" }}</small>
								{% endif %}<br>
								{% if paste.invited_users.all %}
									<small class="text-muted">Invited Users:</small>
									{% for username in paste.invited_users.all %}
										<small class="text-muted">{{ username }}</small>
									{% endfor %}
								{% endif %}
							</div>
						</article>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endif %}
	{% endfor %}

	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
		
		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'1' %}				
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}

	{% endif %}
{% endblock content %}
