{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<div class="media">
			<h3>
			<li class="list-group-item list-group-item-primary">
				Subject: {{ notification.title }}
			</li></h3>
		</div>
		<br>
		<div>
			<p style="height:100px; width:500px; padding-left: 5px; overflow:auto;">
				{{ notification.message | safe }}
			</p>
		</div>
		<div>
			<a href="{% url 'delete_notification' notification.id %}" type="button" class="btn btn-primary">Mark as read</a>
		</div>
	</div>
{% endblock content %}
