{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<div class="media">
			<h5 class="account-heading">
				Subject: {{ notification.title }}
			</h5>
		</div>
		<br>
		<div>
			<p style="border:2px solid; border-color: #ccc; height:100px; width:500px; padding-left: 5px; overflow:auto;">
				{{ notification.message }}
			</p>
		</div>
		<div>
			<a href="{% url 'delete_notification' notification.id %}">Mark as read</a>
		</div>
	</div>
{% endblock content %}